workflow_templates/Process_rows_in_CSV_file.json
{
  "name": "Process_rows_in_CSV_file",
  "nodes": [
    {
      "parameters": {
        "model": "rnj-1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        336,
        192
      ],
      "id": "dd300937-362d-49ae-8c3a-3852a0c3a02e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "UmMELViRjITAqE1A",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Writes a series of haikus about the items in the first column.",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        192
      ],
      "typeVersion": 1,
      "id": "ed00fd66-5826-44e2-ba9f-93c88b00cf38",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "File",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        -80
      ],
      "id": "30e5cae3-b191-4dce-8866-0ba647c5dbcc",
      "name": "Upload CSV",
      "webhookId": "65a40a93-b2be-422c-ba30-4c6a2dae131b",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const binaryKey = 'file';\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nlet text = buffer.toString('utf8').replace(/^\\uFEFF/, '');\n\nconst lines = text.split(/\\r?\\n/).filter(line => line.trim() !== '');\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    const next = line[i + 1];\n\n    if (char === '\"' && inQuotes && next === '\"') {\n      current += '\"';\n      i++;\n    } else if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      result.push(current);\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n\n  result.push(current);\n  return result;\n}\n\nfunction convertValue(value) {\n  const trimmed = value.trim();\n\n  if (trimmed === '') {\n    return '';\n  }\n\n  // Convert integers and decimals, including negative numbers\n  if (/^-?\\d+(\\.\\d+)?$/.test(trimmed)) {\n    return Number(trimmed);\n  }\n\n  return trimmed;\n}\n\nif (lines.length < 2) {\n  return [];\n}\n\nconst headers = parseCsvLine(lines[0]).map(h => h.trim());\n\nreturn lines.slice(1).map(line => {\n  const values = parseCsvLine(line);\n  const row = {};\n\n  headers.forEach((header, i) => {\n    row[header] = convertValue(values[i] ?? '');\n  });\n\n  return {\n    json: row\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -80
      ],
      "id": "5f200f8e-90b4-495d-8a6f-1a4d538a8b43",
      "name": "Parse rows to items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a haiku about {{ Object.values($json)[0] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "5e7dc437-16c2-4bd5-b0e9-b1b84be4ea94",
      "name": "Haiku writer"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    produce_item: $json[\"Produce Item\"],\n    in_stock_count: $json[\"In Stock Count\"],\n    last_arrival_date: $json[\"Last Arrival Date\"],\n    haiku: $json[\"output\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        112
      ],
      "id": "13f77473-7ba7-4787-823c-a2c3aec0c680",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        -48
      ],
      "id": "a38feba8-4536-494e-8fa5-c79d0475ece0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/Users/billhorn/.n8n-files/output.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        112
      ],
      "id": "ae7aab06-b64b-4f45-92a1-d1fa81f7a0ce",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        -48
      ],
      "id": "26b87e2e-8f83-492e-8d6f-ece85d26fcb1",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Haiku writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV": {
      "main": [
        [
          {
            "node": "Parse rows to items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse rows to items": {
      "main": [
        [
          {
            "node": "Haiku writer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku writer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2f4c919e-912b-4a18-a7f2-102b742b2420",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "784a1278bc4aff15930d1f26b75dd8d23c7fcd477049109bb3e62a0b6be6a0b5"
  },
  "id": "EB8OPQE2JKmsYyUG",
  "tags": []
}